.chat-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
}

.content-wrap {
  padding: 10px 16px;
  flex: 1;
  overflow-y: scroll;
}

.footer-wrap {
  position: relative;
}

.message-wrap {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scroll-Y {
  box-sizing: border-box;
  padding: 0px 16px;

  flex: 1;
  overflow-y: scroll;

}

#viewCommunicationBody {
  padding-bottom: 10px;
}

.left-btn {
  padding: 16px;
}




.voice-wrap {
  padding: 16px;
  display: flex;
  flex: 1;
  align-items: center;
  height: 40px;
}

.icon-voice:active {
  opacity: 0.8;
  scale: 1.05;
}


.voice-btn {
  margin: 0 6px;
  flex: 1;
  height: 100%;
  border-radius: 8px;
}

.tip-history {
  text-align: center;
  font-size: 12px;
  color: #999;
}