.chat-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
}

.content-wrap {
  padding: 10px 16px;
  flex: 1;
  overflow-y: scroll;
}

.footer-wrap {
  position: relative;
}

.message-wrap {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scroll-Y {
  box-sizing: border-box;
  padding: 10px 16px;

  flex: 1;
  overflow-y: scroll;

}

.left-btn {
  padding: 16px;
}

.right-wrap {
  flex: 1;
}


.voice-wrap {
  padding: 16px;
  display: flex;
  align-items: center;
  height: 40px;
}



.voice-btn {
  margin: 0 6px;
  flex: 1;
  height: 100%;
  border-radius: 8px;
}